.main-form-cnt {
    @include flexbox-style(column, flex-start, 2em);
    align-items:center;
    min-height:100vh;
    background-image: url(../assets/movies-bground.jpg);
    background-size:cover;
    position:relative;
 
     &::before {       
         content: "";
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.8);
     }
 
     &.light {
         background-image:none;
         
         &::before {
             display:none;
         }
     
     }
 
     .form-cnt {
 
         @include flexbox-style(column, center);
         width:45%;
         z-index:1;
         margin:2em;
 
         &.light {
             header {
                 position:relative;
                 h1 {
                     @include header-style(black, 3rem);
                     
                 }
                 .go-back-cnt {
                     position:absolute;
                     cursor:pointer;
                     text-decoration:none;
                     font-size:16px;
                     gap:0.5em;
                     color: darken($text-link-color, 20%);
                     left:-50%;
                     letter-spacing:1px;
                     top:10px;
                     margin-top:0.5em;
                     margin:0;
                     display:flex;
                     align-items: center;
 
                     &:hover {
                         color:orange;
 
                     }
                 }
 
             }
         }
 
         .error-msg-cnt {
             background-color: darken($error-background-color, 20%);
             text-align:center;
             padding:1em;
             margin-bottom:1.2em;
             border-radius:10px;
             width:auto;
             border: 2px solid red;
             p {
                 font-family:'Ubuntu', sans-serif;
                 margin-bottom:0;
                 font-weight:600;
             }
         }
 
         header {
             margin-bottom:1.5em;
             h1 {
                 @include header-style(white, 3em);
                 margin-top:0;
                 margin-bottom:0.3em;
                 text-shadow: 0 0 5px #c1c1c1;
 
             }
             
         }
 
         form {
 
             .inputs-cnt {
                 @include flexbox-style(column, center, 2em);
                 margin-bottom:1em;
     
                 &-item {
                     @include flexbox-style(column, center);   
                     font-family:'Ubuntu', sans-serif;  
     
                     .input-label {
                         color:white;
                         padding-left:0.5em;
                         font-weight:600;                
                         letter-spacing: 2px;
                     }
     
                     .input-text-cnt {
                         position:relative;
                         input {
                             @extend .input-style;
                             width:100%;
     
                             &.is-invalid {
                                 @extend .input-invalid;
                             }
                         }
         
                         .eye-icon {
                             position:absolute;
                             right:4%;
                             top:28%;
                             cursor:pointer;
                             font-size:1.3em;
                             color:black;
                         }
                     }
 
                     .error-text {
                         color:red;
                         font-weight:600;
                         margin-bottom:0;
                         padding-left:0.5em;
                         padding-top:0.5em;
                     }
 
                     &.light {
                         .input-label {
                             font-size:1.2em;
                             color:black;
                         }
                     }
     
                 }
             }
     
             .login-btn-cnt {
                 @include flexbox-style(row, center);
                 button {
                     @include button-style(#a8a7a7);
                 }
 
                 &.light {
                     button {
                         @include button-style(#363433);
                     }
                 }
             }
         }
 
 
         .register-link-cnt {
             @include flexbox-style(row, center);
             padding-top:1.2em;
 
             p {
                 font-size:1.2em;
                 font-weight:600;
                 font-family: 'Roboto', sans-serif;
                 text-align:center;
                 text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                 color: $text-link-color;
 
                 a {
                     cursor:pointer;
                     text-decoration: underline;
 
                     &:hover {
                         color: #ffa033;
                     }
                 }
             }
         }
     }
 
 }